/data
/src/.idea/workspace.xml
/models/m1-cnn-pristine/checkpoint
/models/m1-cnn-pristine/m1-cnn-pristine.ckpt.data-00000-of-00001
/models/m1-cnn-pristine/m1-cnn-pristine.ckpt.index
/models/m1-cnn-pristine/m1-cnn-pristine.ckpt.meta
/models/m1-cnn-pristine/m1-cnn-pristine.npz
/models/m1-cnn-pristine/model.ckpt.data-00000-of-00001
/models/m1-cnn-pristine/model.ckpt.index
/models/m1-cnn-pristine/model.ckpt.meta
/src/data/__pycache__/*.pyc
/src/visual/__pycache__/*.pyc
checkpoint
*.data-00000-of-00001
*.index
*.meta
debug
/models/m21-unet/unet_trained/events.out.tfevents.1494385004.ISMAIL-W520
/models/m22-unet-diffraction-fast/unet_trained/events.out.tfevents.1494390073.ISMAIL-W520
*.ISMAIL-W520
*.pyc
/writeup/~$gani_Ismail_FinalProject-6.874.doc
/figures/predictions/learned/epoch_00_00.jpg
/figures/predictions/learned/epoch_00_01.jpg
/figures/predictions/learned/epoch_00_02.jpg
/figures/predictions/learned/epoch_00_03.jpg
/figures/predictions/learned/epoch_01_00.jpg
/figures/predictions/learned/epoch_01_01.jpg
/figures/predictions/learned/epoch_01_02.jpg
/figures/predictions/learned/epoch_01_03.jpg
/figures/predictions/learned/epoch_1_00.jpg
/figures/predictions/learned/epoch_1_01.jpg
/figures/predictions/learned/epoch_1_02.jpg
/figures/predictions/learned/epoch_1_03.jpg
/figures/predictions/learned/epoch_2_00.jpg
/figures/predictions/learned/epoch_2_01.jpg
/figures/predictions/learned/epoch_2_02.jpg
/figures/predictions/learned/epoch_2_03.jpg
/figures/predictions/learned/epoch_3_00.jpg
/figures/predictions/learned/epoch_3_01.jpg
/figures/predictions/learned/epoch_3_02.jpg
/figures/predictions/learned/epoch_3_03.jpg
/figures/predictions/learned/epoch_4_00.jpg
/figures/predictions/learned/epoch_4_01.jpg
/figures/predictions/learned/epoch_4_02.jpg
/figures/predictions/learned/epoch_4_03.jpg
/figures/predictions/learned/epoch_6_00.jpg
/figures/predictions/learned/epoch_6_01.jpg
/figures/predictions/learned/epoch_6_02.jpg
/figures/predictions/learned/epoch_6_03.jpg
/figures/predictions/learned/epoch_9_00.jpg
/figures/predictions/learned/epoch_9_01.jpg
/figures/predictions/learned/epoch_9_02.jpg
/figures/predictions/learned/epoch_9_03.jpg
/figures/predictions/truth/epoch_00_00.jpg
/figures/predictions/truth/epoch_00_01.jpg
/figures/predictions/truth/epoch_00_02.jpg
/figures/predictions/truth/epoch_00_03.jpg
/figures/predictions/truth/epoch_01_00.jpg
/figures/predictions/truth/epoch_01_01.jpg
/figures/predictions/truth/epoch_01_02.jpg
/figures/predictions/truth/epoch_01_03.jpg
/figures/predictions/truth/epoch_1_00.jpg
/figures/predictions/truth/epoch_1_01.jpg
/figures/predictions/truth/epoch_1_02.jpg
/figures/predictions/truth/epoch_1_03.jpg
/figures/predictions/truth/epoch_2_00.jpg
/figures/predictions/truth/epoch_2_01.jpg
/figures/predictions/truth/epoch_2_02.jpg
/figures/predictions/truth/epoch_2_03.jpg
/figures/predictions/truth/epoch_3_00.jpg
/figures/predictions/truth/epoch_3_01.jpg
/figures/predictions/truth/epoch_3_02.jpg
/figures/predictions/truth/epoch_3_03.jpg
/figures/predictions/truth/epoch_4_00.jpg
/figures/predictions/truth/epoch_4_01.jpg
/figures/predictions/truth/epoch_4_02.jpg
/figures/predictions/truth/epoch_4_03.jpg
/figures/predictions/truth/epoch_6_00.jpg
/figures/predictions/truth/epoch_6_01.jpg
/figures/predictions/truth/epoch_6_02.jpg
/figures/predictions/truth/epoch_6_03.jpg
/figures/predictions/truth/epoch_9_00.jpg
/figures/predictions/truth/epoch_9_01.jpg
/figures/predictions/truth/epoch_9_02.jpg
/figures/predictions/truth/epoch_9_03.jpg
/figures/Backup_of_UnetArchitecture.cdr
/figures/accuracy-averaged.png
