/data
/src/.idea/workspace.xml
/models/m1-cnn-pristine/checkpoint
/models/m1-cnn-pristine/m1-cnn-pristine.ckpt.data-00000-of-00001
/models/m1-cnn-pristine/m1-cnn-pristine.ckpt.index
/models/m1-cnn-pristine/m1-cnn-pristine.ckpt.meta
/models/m1-cnn-pristine/m1-cnn-pristine.npz
/models/m1-cnn-pristine/model.ckpt.data-00000-of-00001
/models/m1-cnn-pristine/model.ckpt.index
/models/m1-cnn-pristine/model.ckpt.meta
/src/data/__pycache__/*.pyc
/src/visual/__pycache__/*.pyc
checkpoint
*.data-00000-of-00001
*.index
*.meta
debug
/models/m21-unet/unet_trained/events.out.tfevents.1494385004.ISMAIL-W520
/models/m22-unet-diffraction-fast/unet_trained/events.out.tfevents.1494390073.ISMAIL-W520
